<script lang="ts">
	import '../../../app.css';
	import SideBar from '$lib/components/side-bar.svelte';
	import { Toaster } from 'svelte-sonner';
	import type { LayoutData } from '../../$types';
	import { onMount } from 'svelte';
	import { userStore } from '$lib/stores/user';

	const currentYear = new Date().getFullYear();

	export let data: LayoutData;

	onMount(async () => {
		$userStore = data.user;
	});

	$: {
		console.log($userStore);
	}
</script>

<header class="h-14 border-b border-gray-100 bg-blue-700">
	<div class="flex items-center justify-between px-1">
		<p class="p-2 font-semibold text-4xl uppercase text-gray-100">Datalife</p>
		<p class="p-2 font-semibold text-lg uppercase text-gray-100">{$userStore.name}</p>
	</div>
</header>
<div class="flex overflow-auto">
	<SideBar />
	<div class="flex flex-1 flex-col">
		<main class="flex-1 p-1">
			<slot />
			<Toaster />
		</main>
		<footer class="flex h-14 items-center justify-center bg-blue-700">
			<p class="text-gray-100">&copy; {currentYear} Datalife. Todos os direitos reservados.</p>
		</footer>
	</div>
</div>
