<script lang="ts">
	import { toast } from "svelte-sonner";

	const handleExecute = async () => {
		try {
			await fetch('/api/request-report', { method: 'POST' })
			toast.success('Relatório solicitado. Verifique seu e-mail em alguns instantes.')
		} catch (error) {
			console.log(error);
		}
	};
</script>

<div class="container mx-auto">
	<h1 class="text-center font-medium text-xl">reports</h1>
	<button on:click={handleExecute} class="cursor-pointer bg-gray-700 p-2 text-gray-100 rounded-sm"
		>Executar</button
	>
</div>
