<script lang="ts"></script>

<div class="container mx-auto min-h-screen flex justify-center items-center">
	<div class="flex flex-col h-60 justify-between px-2">
		<div>
			<p>Usuário: ADMIN</p>
			<p>E-mail: admin@floripabit.com.br</p>
			<p>Senha: qualquer (não tem validação)</p>
		</div>
		<div>
			<p>Usuário: Alecrim</p>
			<p>E-mail: alecrim@floripabit.com.br</p>
			<p>Senha: qualquer (não tem validação)</p>
		</div>
	</div>
	<form class="bg-neutral-100 p-4 w-96" id="login-form" method="POST" action="?/login">
		<div class="mb-4">
			<label for="email" class="block mb-1">E-mail</label>
			<input class="w-full p-2" id="email" name="email" required />
		</div>
		<div class="mb-4">
			<label for="password" class="block mb-1">Senha</label>
			<input class="w-full p-2" id="password" name="password" type="password" />
		</div>
		<button class="w-full p-2 bg-green-400 hover:bg-green-500" type="submit" color="blue"
			>Entrar</button
		>
	</form>
</div>
