<script lang="ts">
	import { Building, Building2, Files, LayoutDashboard, LogOut, User } from 'lucide-svelte';
	import { getUserPermissions } from '../../utils/get-user-permissionts';
	import { userStore } from '$lib/stores/user';
	import { goto } from '$app/navigation';

	async function handleLogout() {
		await fetch('/api/logout', { method: 'POST' });
		return goto('/login', { invalidateAll: true });
	}

	let canNavigateToHoldings = false;
	let canNavigateToSubsidiary = false;
	let canNavigateToCompany = false;

	$: {
		if ($userStore.role) {
			const { can } = getUserPermissions($userStore);
			canNavigateToHoldings = can('get', 'Holding');
			canNavigateToSubsidiary = can('get', 'Subsidiary');
			canNavigateToCompany = can('get', 'Contracted');
		}
	}
</script>

<aside
	class="w-56 relative h-[calc(100vh-3.5rem)] border-r border-blue-200 bg-neutral-50 p-1 transition-all"
>
	<nav class="flex h-full flex-col">
		<ul class="h-full space-y-3 relative">
			<li class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700">
				<a
					class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
					href="/app/dashboard"
				>
					<LayoutDashboard size={20} />
					Dashboard
				</a>
			</li>
			{#if canNavigateToHoldings}
				<li class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700">
					<a
						class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
						href="/app/holdings"
					>
						<Building2 size={20} />
						Holdings
					</a>
				</li>
			{/if}
			{#if canNavigateToSubsidiary}
				<li class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700">
					<a
						class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
						href="/app/subsidiaries"
					>
						<Building size={20} />
						Empreendimentos
					</a>
				</li>
			{/if}
			{#if canNavigateToCompany}
				<li class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700">
					<a
						class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
						href="/app/companies"
					>
						<Building size={20} />
						Contratadas
					</a>
				</li>
			{/if}
			<li class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700">
				<a
					class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
					href="/app/profile"
				>
					<User size={20} />
					Perfil
				</a>
			</li>
			<li class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700">
				<a
					class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
					href="/app/reports"
				>
					<Files size={20} />
					Relatórios
				</a>
			</li>

			<li
				class="group w-full rounded-lg p-2 transition-colors duration-300 hover:bg-blue-700 absolute bottom-0"
			>
				<button
					on:click={handleLogout}
					class="flex w-full items-center gap-2 text-lg text-gray-400 transition-colors duration-300 group-hover:font-bold group-hover:text-gray-100 data-[current=true]:font-bold data-[current=true]:text-gray-100"
				>
					<LogOut size={20} />
					Sair
				</button>
			</li>
		</ul>
	</nav>
</aside>
